/* Обычный */
@font-face {
	font-family: 'Objective-Black'; 
	src: url(fonts/Objective-Black.woff2); 
}
 
/* Жирный */
@font-face {
	font-family: 'Objective-Bold'; 
	src: url(fonts/Objective-Bold.woff2); 
}

@font-face {
	font-family: 'Objective-Medium'; 
	src: url(fonts/Objective-Medium.woff2); 
}
 
/* Жирный */
@font-face {
	font-family: 'Objective-Regular'; 
	src: url(fonts/Objective-Regular.woff2); 
}



button{
    width:100px;
    height: 50px;
    padding: 20px;
    margin: 30px;
}